

header.intro
     .container#style.d-flex.flex-column.justify-content-between.h-100
          header.header--main
               .row.d-flex.align-items-center
                    .col-xl-1.col-md-6.col-sm-4.col-4
                         a.header--main__link(href="#")
                              img.header--main__link__logo(src="./src/img/logo.png", alt="logo") 

                    .col-xl-9.d-xl-flex.d-none.align-items-center.pe-4
                         .header--main--menu
                              ul.header--main--menu--ul
                                   li.header--main--menu--ul__link
                                        a(href="#").header--main--menu--ul__link__item خانه
                                        

                                   li.header--main--menu--ul__link#services
                                        a(href="").header--main--menu--ul__link__item خدمات ما 
                                             i.header--main--menu--ul__link__item__icon.fa-solid.fa-angle-down
                                        ul.header--main--submenu
                                             li.header--main--submenu--li
                                                  a(href="#") خدمات تزریق 
                                             li.header--main--submenu--li
                                                  a(href="#")  خدمات فشار خون
                                             li.header--main--submenu--li
                                                  a(href="#") خدمات بیهوشی 
                                             li.header--main--submenu--li
                                                  a(href="#") خدمات برون سازمانی
                                       
                                   
                                   li.header--main--menu--ul__link  
                                        a.header--main--menu--ul__link__item(href="#") فروشگاه
                                             i.header--main--menu--ul__link__item__icon.fa-solid.fa-angle-down

                                        ul.header--main--submenu
                                             li.header--main--submenu--li
                                                  a(href="#") مشاوره رایگان
                                             li.header--main--submenu--li
                                                  a(href="#") محصولات پزشکی 
                                             li.header--main--submenu--li
                                                  a(href="#") خدمات درمانی
                                             li.header--main--submenu--li
                                                  a(href="#") بیمه و  مراقبت
                                   li.header--main--menu--ul__link  
                                        a.header--main--menu--ul__link__item(href="#") سوالات متداول
                                             i.header--main--menu--ul__link__item__icon.fa-solid.fa-angle-down

                                        ul.header--main--submenu
                                             li.header--main--submenu--li
                                                  a(href="#") چرا فروشگاه ما
                                             li.header--main--submenu--li
                                                  a(href="#") راهنمایی
                                             li.header--main--submenu--li
                                                  a(href="#") سوالات متداول فروشگاه
                                             li.header--main--submenu--li
                                                  a(href="#") نحوه ارسال محصولات
                                   li.header--main--menu--ul__link  
                                        a.header--main--menu--ul__link__item(href="#") تماس با ما 
                                   li.header--main--menu--ul__link  
                                        a.header--main--menu--ul__link__item(href="#") درباره ما

                    .col-xl-2.col-lg-2.col-md-4.col-6.d-flex.justify-content-end
                         a.call__link(href="#") 
                              button.call__link__button 55666 031
                                   i.call__link__button__icon.fa-solid.fa-phone

                    
                    .d-xl-none.d-md-block.col-2.p-0
                         button.responsive-btn
                             i.fas.fa-bars

          
          section.header--main--content
               .container 
                    .row.box.d-flex.justify-content-start
                              .header--main--content--box 
                                   h3.header--main--content--box__title ارائه خدمات درمانی و ویژه 
                                   p.header--main--content--box__discription اولین و مجهزترین مرکز خدمات رسانی طب اسلامی  همراه با تجهیزات هوشمند و نوین 
                              .more
                                   a(href="#").Information درباره ما  
                                        i.me-3.fa-solid.fa-angle-left
